affine
aiohappyeyeballs
aiohttp
aiohttp-retry
aiosignal
alembic
amqp
annotated-doc
annotated-types
antlr4-python3-runtime
anyio
appdirs
argon2-cffi
argon2-cffi-bindings
arrow
astropy
astropy-iers-data
asttokens
async-lru
asyncssh
atpublic
attrs
babel
beautifulsoup4
billiard
bleach
branca
cartopy
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
cligj
colorama
colorlog
comm
configobj
contourpy
coverage
cryptography
cuda-bindings
cuda-pathfinder
cuda-toolkit
cycler
debugpy
decorator
defusedxml
dictdiffer
diskcache
distro
dpath
dulwich
dvc
dvc-data
dvc-http
dvc-objects
dvc-render
dvc-studio-client
dvc-task
entrypoints
executing
fastjsonschema
filelock
flatten-dict
flufl.lock
folium
fonttools
fqdn
frozenlist
fsspec
funcy
gitdb
GitPython
grandalf
greenlet
gto
h11
h3
httpcore
httpx
hydra-core
idna
iniconfig
ipykernel
ipython
ipython_pygments_lexers
ipywidgets
isoduration
iterative-telemetry
itur
jedi
Jinja2
joblib
jplephem
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
kombu
lark
Mako
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
mpmath
multidict
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook_shim
numpy
nvidia-cublas
nvidia-cuda-cupti
nvidia-cuda-nvrtc
nvidia-cuda-runtime
nvidia-cudnn-cu13
nvidia-cufft
nvidia-cufile
nvidia-curand
nvidia-cusolver
nvidia-cusparse
nvidia-cusparselt-cu13
nvidia-nccl-cu13
nvidia-nvjitlink
nvidia-nvshmem-cu13
nvidia-nvtx
omegaconf
optuna
orjson
packaging
pandas
pandocfilters
parso
pathspec
pexpect
pillow
platformdirs
plotly
pluggy
polars
polars-runtime-32
prometheus_client
prompt_toolkit
propcache
psutil
ptyprocess
pure_eval
pyarrow
pycparser
pydantic
pydantic-settings
pydantic_core
pydot
pyerfa
pygit2
Pygments
pygtrie
pyogrio
pyparsing
pytest
pytest-cov
python-dateutil
python-dotenv
python-json-logger
PyYAML
pyzmq
rasterio
referencing
requests
rfc3339-validator
rfc3986-validator
rfc3987-syntax
rich
rpds-py
ruamel.yaml
scikit-learn
scipy
scmrepo
semver
Send2Trash
setuptools
sgp4
shellingham
shortuuid
shtab
six
skyfield
smmap
soupsieve
SQLAlchemy
sqltrie
stack-data
sympy
tabulate
terminado
threadpoolctl
tinycss2
tomlkit
torch
tornado
tqdm
traitlets
triton
typer
typing-inspection
typing_extensions
tzdata
tzlocal
uri-template
urllib3
vine
voluptuous
wcwidth
webcolors
webencodings
websocket-client
widgetsnbextension
xyzservices
yarl
zc.lockfile